.button {
    border: 1px solid grey;
    background-color: #FBC75A;
    width: 70px;
    height: 70px;
 }

.button:hover {
	cursor: pointer;
	background-color: #fbd585;
}

.buttonType2 {
	color: #076689;
	background-color: #FBC75A;
  border: 1px solid grey;
  font-size: 18px;
  padding: 10px;
}

.buttonType2:hover {
	cursor: pointer;
	background-color: #fbd585;	
}